{% extends 'theme.html' %}

{% block title %}
    Contact
{% endblock  %}

{% block content %}
<div class="container my-5">
<h1 class="text-left" style="color:#000080;">Contact Us</h1>
<div style="margin-left:-20px; margin-top:60px;">
<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#800080" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg>
</div>
<div style="line-height:7px; margin-top:-50px; margin-left:20px;">
<p>Polo Hospital,</p>    
<p>Kottapuram,</p>
<p>Near High School Junction,</p>
<p style="margin-bottom:50px;">Mannarkkad, Palakkad-608666</p>

<h5 class="text-left" style="color:#666699;">For Enquiry And Bookings</h5>
<div style="margin-left:-40px; margin-top:60px;" >
<svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="#800080" class="bi bi-telephone-forward-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.761.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z"/>
</svg>
</div>
<div style="line-height:8px; margin-top:-50px;">
<p>+91 0952323556</p>
<p>+91 0925836956</p>
<p>+91 0258169556</p>
<p>+91 0225415556</p>


<div style="margin-left:-40px; margin-top:30px;">
<svg xmlns="http://www.w3.org/2000/svg" width="25" height="80" fill="#800080" class="bi bi-envelope-fill" viewBox="0 0 16 16">
  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
</svg>
<p class="text-left" style="margin-top:-20px;">polohospital123@gmail.com</p>
</div>
</div>
</div>
</div>
<div style="float: right; margin-top: -493px; margin-right: 150px; color:#000080;">
<h1>Get In Touch</h1>

<input class="form-control" type="Name" placeholder="Name" style="margin-top: 30px; width:500px;">

<input class="form-control" type="Email" placeholder="Email" style="margin-top: 15px; width:500px;">

<input class="form-control" type="Subject" placeholder="Subject" style="margin-top: 15px; width:500px;">

<input class="form-control" type="Your Message" placeholder="Your Message" style="margin-top: 15px; width:500px; height:100px;">

<button type="Send" class="btn btn-success" style="margin-top:15px;">Send Message</button>
<div style="max-width:100%;overflow:hidden;color:red;width:500px;height:200px; margin-top:10px;"><div id="my-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=palakkad&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="from-embedmap-code" rel="nofollow" href="https://www.bootstrapskins.com/themes" id="grab-map-info">premium bootstrap themes</a><style>#my-map-display .text-marker{}.map-generator{max-width: 100%; max-height: 100%; background: none;</style></div>





</div>
</div>

</div>


   
    
{% endblock content %}